@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/css/components.css" rel="stylesheet" />
    <link href="~/css/plugins.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Content/Angular/app.js"></script>
    <script src="~/Content/Angular/controllers/thu/thu.list.controller.js"></script>
    <script src="~/Content/Angular/controllers/thu/thu.create.controller.js"></script>
    <script src="~/Content/Angular/controllers/thu/thu.edit.controller.js"></script>
    <script src="~/Content/Angular/controllers/chi/chi.list.controller.js"></script>
    <script src="~/Content/Angular/controllers/chi/chi.edit.controller.js"></script>
    <script src="~/Content/Angular/controllers/chi/chi.create.controller.js"></script>
    <script src="~/Content/Angular/controllers/khac/khac.create.controller.js"></script>
    <script src="~/Content/Angular/controllers/khac/khac.edit.controller.js"></script>
    <script src="~/Content/Angular/controllers/khac/khac.list.controller.js"></script>
    <script src="~/Content/Angular/controllers/khachhang/khachhang.create.controller.js"></script>
    <script src="~/Content/Angular/controllers/khachhang/khachhang.edit.controller.js"></script>
    <script src="~/Content/Angular/controllers/khachhang/khachhang.list.controller.js"></script>
    <script src="~/Content/Angular/controllers/nhanvien/nhanvien.create.controller.js"></script>
    <script src="~/Content/Angular/controllers/nhanvien/nhanvien.edit.controller.js"></script>
    <script src="~/Content/Angular/controllers/nhanvien/nhanvien.list.controller.js"></script>
    <script src="~/Content/Angular/controllers/nhacungcap/nhacungcap.create.controller.js"></script>
    <script src="~/Content/Angular/controllers/nhacungcap/nhacungcap.edit.controller.js"></script>
    <script src="~/Content/Angular/controllers/nhacungcap/nhacungcap.list.controller.js"></script>

</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="thu">Trang thu</a></li>
                    <li><a ui-sref="chi">Trang chi</a></li>
                    <li><a ui-sref="NhanVien">Nhân viên</a></li>
                    <li><a ui-sref="KhachHang">Khách hàng</a></li>
                    <li><a ui-sref="NhaCungCap">Nhà cung cấp</a></li>
                    <li><a ui-sref="Khac">Khác</a></li>       
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ui-view></ui-view>
    </div>
</body>
</html>

