<div class="container">
    <div class="row" ng-controller="listKhachHangCtrl" style="min-height:300px">
        <a class="btn btn-primary" ui-sref="createKhachHang">Tạo mới</a>
        <table class="table table-striped table-hover col-md-8">
            <caption style="text-align:center">
                DANH SÁCH KHÁCH HÀNG
            </caption>
            <thead>
                <tr style="padding:1px 1px 1px 1px">
                    <td>Tên</td>
                    <td>Số điện thoại</td>
                    <td>Email</td>
                    <td>Địa chỉ</td>
                    <td>Chức năng</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dsKhachHang in dsKhachHangs" style="padding:1px 1px 1px 1px">
                    <td>{{dsKhachHang.Ten}}</td>
                    <td>{{dsKhachHang.SoDienThoai}}</td>
                    <td>{{dsKhachHang.Email}}</td>
                    <td>{{dsKhachHang.DiaChi}}</td>
                    <td>
                        <a class="btn btn-success" ui-sref="editKhachHang({id:dsKhachHang.Id})">Sửa</a>
                        <div class="btn btn-warning" ng-click="xoaKhachHang(dsKhachHang)">Xóa</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Trang {{currentPage}} trên tổng số {{pageCount}}</p>
        <ul class="pagination pull-right" ng-hide="pageCount==0">
            <li ng-click="selectPage(currentPage-1)"><a href="javascript:void(0)" class="fa fa-fast-backward"></a></li>
            <li ng-click="selectPage(currentPage+1)"><a href="javascript:void(0)" class="fa fa-fast-forward"></a></li>
        </ul>
    </div>
</div>